html {
    font-size: 100%;
    
   
   
}

    

#header {
    background-color: black;
    border: 2px solid white;
    margin: 20px;
    padding: 20px;
    background-repeat: no-repeat;
    
    
    
    
}
#box1 {


background-color: white;
width: 400px;
height: 350px;
border: 2px solid white;
margin: 20px;
padding: 20px;
background-image: url(../img/primafoto.jpg);
background-size: cover; 
text-align: center;
}





#box1 h1
{
    color: rgb(68, 0, 255);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    }
#box1 p {
color: black;
font-family: 'Open Sans', sans-serif;
text-align: center;


}

div > h3 {
color: rgb(68, 0, 255);
    font-family: 'Open Sans', sans-serif;
  
    border: 20px;
    margin: 10px;
    width: 400px;
    text-align: center;
}
div > p {
    color: black;
font-family: 'Open Sans', sans-serif;
border: 20px;
    margin: 10px;
    width: 400px;
    text-align: center;
    padding: 10px;
}



#box2  img{
  
    border-radius: 50%;
    width: 350px;
height: 350px;
border: 2px solid white;
margin: 20px;
padding: 20px;
}

#conteiner {
    background-color: rgb(253, 0, 0);
    background-repeat: no-repeat;
    width: 300px;
    height: 250px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    border: 2px solid white;
    margin: 20px;
    padding: 20px;
   
  
    
}

    #conteiner p {
        color: white;
        font-family: 'Open Sans', sans-serif;
text-align: justify;
}


#box3 img{
   
    width: 350px;
    height: 350x;
    margin: 20px;
   }

   #box3 h3 {
    font-family: 'Open Sans', sans-serif;
    color: blue;
    
 }
 #box3 p {
    font-family: 'Open Sans', sans-serif;
}

#box4 img {

    width:350px;
    height: 250px;
    margin: 20px;
    
   
}
#box5 img {
    width: 350px;
    height: 250px;
    margin: 20px;
    
   
}
#box6 {
    background-color: rgb(25, 139, 130);
     width: 300px;
     height: 250px;
     text-align: center;
     font-family: 'Open Sans', sans-serif;
     color: white;
     border: 2px solid white;
margin: 10px;
padding: 20px;
}
#box6 p {
    font-family: 'Open Sans', sans-serif;
     color: white;
     text-align: center;
     
}
